@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
.aboutText{
  color: rgba(100,50,25,50);
  font-family:'Lato';
  font-size: calc(3vh + 1.5vw);
}
body{
    background-color: rgba(150, 230, 212, 0.815);
}
.websiteLinks1{ color: rgba(100,50,25,50);
    font-family:'Lato';
    font-size: calc(3vh + 1.5vw);
    text-decoration: none;
}
    
.websiteLinks1:hover{ 
    color: rgba(175,50,0,50);
    font-family:'Lato';
    font-size: calc(2.75vh + 1.375vw);
}